<!-- O Angular material design trabalha com a tecnica de web components ele tem as proprias tags seus proprios elementos e seus
     proprios atributos -->
<md-content layout-padding class="autoScroll">

    <md-input-container class="md-icon-float">
        <label>Nome</label>
        <ng-md-icon icon="person" style="fill: blue" size="20"></ng-md-icon>
        <input ng-model="nome" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
        <label>E-Mail</label>
        <ng-md-icon icon="email" style="fill: blue" size="20"></ng-md-icon>
        <input ng-model="email" type="email" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
        <label>Telefone</label>
        <ng-md-icon icon="local_phone" style="fill: blue" size="20"></ng-md-icon>
        <input ng-model="telefone" type="tel" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
        <label>Dt Nascimento</label>
        <ng-md-icon icon="event" style="fill: blue" size="20"></ng-md-icon>
        <input ng-model="data" type="date" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
        <md-button class="md-raised md-primary">Cadastrar</md-button>
    </md-input-container>

</md-content>